<app-header></app-header>
<!--================ Start Home Banner Area =================-->
<section id="home" class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h3>Hola !</h3>
                        <h1 class="text-uppercase">Soy Erick Chan</h1>
                        <h5 class="text-uppercase">Desarollador Full Stack</h5>
                        <div class="social_icons my-5">
                            <a href="https://twitter.com/ErickCU1416?s=09"><i class="ti-twitter"></i></a>
                            <!-- <a href="#"><i class="ti-skype"></i></a>     -->
                            <a href="https://www.facebook.com/joaquinposeidon.chandzib"><i class="ti-facebook"></i></a>
                            <a href="https://www.instagram.com/erickcu1416/"><i class="ti-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/erick-chan-uc-90584617b"><i class="ti-linkedin"></i></a>
                            <!-- <a href="#"><i class="ti-dribbble"></i></a> -->
                            <!-- <a href="#"><i class="ti-vimeo"></i></a> -->
                        </div>
                        <a class="primary_btn" href="#projects"><span> Ver mi trabajo </span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="home_right_img">
                        <img class="img-fluid" src="/assets/img/banner/home-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section id="about" class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="/assets/img/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <p class="top_text">Sobre Mí <span></span></p>
                    <h2>
                        Desarollador <br> Full Stack
                    </h2>
                    <p>
                        Me llamo Erick Chan, estudiante de Tecnologías de la información y comunicación área sistemas informáticos en la Universidad Tecnológica de Cancún, tengo {{ age }} años, soy un apasionado por la tecnología y el desarrollo de software.
                    </p>
                    <a class="primary_btn" href="/assets/files/Erick Chan CV.pdf" target="_blank" rel="noopener"><span>Descargar CV</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Start Features Area =================-->
<section id="services" class="services_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">Servicios <span></span></p>
                    <h2>Servicios Que Ofrecemos <br> Para Usted </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="service_item">
                    <img src="/assets/img/services/s1.png" alt="">
                    <h4>Desarollo Frontend</h4>
                    <!-- <p>Conocimientos de tecnologias Frontend para el desarollo y diseño de paginas web.</p> -->
                    <p>HTML5 / CSS</p>
                    <p>Bootstrap / Meterial Desing</p>
                    <p>Angular / React / Vue</p>
                    <!-- <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="service_item">
                    <img src="/assets/img/services/s3.png" alt="">
                    <h4>Desarollo Backend</h4>
                    <p>Laravel</p>
                    <p>NodeJS</p>
                    <p>MySQL / MongoDB / Firebase</p>
                    <!-- <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for brought fish forth</p>
                    <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="service_item">
                    <img src="/assets/img/services/s4.png" width="60px" alt="">
                    <h4>Desarollo Móvil</h4>
                    <p>React Native</p>
                    <p>Ionic</p>
                    <p>Flutter</p>
                    <p>Android Studio</p>
                    <!-- <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for brought fish forth</p>
                    <a href="#" class="primary_btn2 mt-35">Learn More</a> -->
                </div>
            </div>


        </div>
    </div>
</section>
<!--================ End Features Area =================-->

<!--================ Start Blog Area =================-->
<section id="projects" class="blog-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <p class="top_text">Proyectos <span></span></p>
                    <h2>Proyectos de desarollo <br> Móvil / Web </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt1.png" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>ZAS - Mi Solución</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Simulador de Crédito realizado con ReactJS y ASP.NET
                            </p>
                        </div>
                        <a href="https://zasmisolucion.com.mx/" class="primary_btn2">Ver sitio</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt2.png" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>Facilitoo</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Aplicación de préstamos realizado con Angular, Ionic-PWA, Firebase Cloud Functions y Firestore
                                <br> <span> Usuario Administrador Prueba: </span> <br> admin@mail / 12345687
                            </p>
                        </div>
                        <a href="http://facilitoo.gacelajs.com/#/login" class="primary_btn2">Ver sitio (Administrador)</a>
                        <br>
                        <br>
                        <a href="https://rapiditoo-26057.web.app/" class="primary_btn2">Ver sitio (Usuario - PWA)</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt3.jpg" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>Draming Flowers</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Aplicación Móvil de una florería virtual. <br> Desarollado con Ionic y Firestore
                            </p>
                        </div>
                        <a href="https://github.com/erickcu1416/app-curso" class="primary_btn2">Ver en GITHUB</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt4.png" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>UniSell</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Punto de venta con compras en tiempo real <br> Desarollado con Ionic y Firebase
                            </p>
                        </div>
                        <a href="https://github.com/erickcu1416/UniSell" class="primary_btn2">Ver en GITHUB</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt5.png" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>LaraDex</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Crud Básico <br> Desarollado con Laravel
                            </p>
                        </div>
                        <a href="https://github.com/erickcu1416/LaraDex" class="primary_btn2">Ver en GITHUB</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt6.jpg" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>R-EX</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Aplicación móvil con multiples funciones divertidas <br> Desarollado con React Native
                            </p>
                        </div>
                        <a href="https://github.com/erickcu1416/LaraDex" class="primary_btn2">Ver en GITHUB</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt7.jpg" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>ECODESK</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Aplicación móvil con lector de código de barras para obtener información de productos <br> Desarollado con Ionic y Firebase
                            </p>
                        </div>
                        <a href="https://gitlab.com/erickchan1416/devfesthackaton" class="primary_btn2">Ver en GITLAB</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="/assets/img/portfolio/pt8.JPG" alt="">
                    </div>
                    <div class="short_details">
                        <!-- <div class="meta-top d-flex">
                            <a href="#"><i class="ti-user"></i> Admin post</a>
                            <a href="#"><i class="ti-calendar"></i> Feb 14, 2019</a>
                        </div> -->
                        <a class="d-block" href="single-blog.html">
                            <h4>ECOLONIA</h4>
                        </a>
                        <div class="text-wrap">
                            <p>
                                Aplicación móviL comunitaria para reportar incidencias locales <br> Desarollado con Ionic y Firebase
                            </p>
                        </div>
                        <a href="https://gitlab.com/erickchan1416/hackatoncomedatos" class="primary_btn2">Ver en GITLAB</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================ End Blog Area =================-->

<!--================ Start Banner Area =================-->
<section id="contact" class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contacto</h2>
                <!-- ================ contact section start ================= -->
                <section class="section-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <div class="media contact-info">
                                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                                    <div class="media-body">
                                        <h3><a href="tel:+529982203423">+52 9982203423</a></h3>
                                        <p>Lunes a Viernes de 8am a 5pm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">

                            </div>
                            <div class="col-lg-4">
                                <div class="media contact-info">
                                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                                    <div class="media-body">
                                        <h3><a href="mailto:erickchan1416@hotmail.com">erickchan1416@hotmail.com</a></h3>
                                        <p>¡Disponible en cualquier momento!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ================ contact section end ================= -->


            </div>
        </div>
    </div>
</section>
<!--================ End Banner Area =================-->
<app-footer></app-footer>